.subscription-card {
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 20px;
  text-align: center;
  padding: 1em;
  margin: 1em;
}

.subscription-card a {
  text-decoration: none; 
  color: inherit; 
}

.subscription-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
  transform: scale(0.97);
}
